
{{userForm.value | json}}
    
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
    <span 
        *ngIf="userForm.controls.email.touched && userForm.controls.email.errors?.required">
        Email is required
     </span>
     <span 
     *ngIf="userForm.controls.email.touched && userForm.controls.email.errors?.minLength">
     Email is required
  </span>
  </p>
  
  <p>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" formControlName="password">
    <span
        *ngIf="userForm.controls.password.touched && userForm.controls.password.errors?.required">
        Password is required
    </span>
    <span 
      *ngIf="userForm.controls.password.touched && userForm.controls.password.errors?.invalidPassword">
      Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
      letter and 1 number
    </span>
  </p>
 
  <p>
    <label for="contact">Contact </label>
    <input type="number" id="contact" name="contact" formControlName="contact">
    <span 
      *ngIf="userForm.controls.contact.dirty && userForm.controls.contact.hasError('invalidContact')">
      Contact not present in our directory
    </span>
  </p>
 
  <p>
    <button type="submit">Submit</button>
  </p>
 
</form>
