<div class="receiver">
    <h3>RECEIVER</h3>
    <p>Text from subject - {{textFromSubject}}</p>
    <p>Text from behaviour subject - {{textFromBehaviorSubject}} </p>
    <p>Text from property -  {{textString}}</p>
</div>
