<div class="parent">
    <h3>PARENT</h3>
    <app-child (messageEvent)="receiveMessage($event)" [trigger]="trigger" [textFromParent]="textFromParent"></app-child>
    <button (click)="sendMessageFromParent()">Click Me</button>

    <p>{{textFromChild}}</p>
    <!-- <p>{{anotherTextFromChild}}</p> -->
</div>
